<div class="container">
    <div id="app"></div>
    <h1 class="header"><%= title %>
    <p><%= mensagem %></p>       
    <p><%= site %></p>        
    </h1>    
    <div>
        <p>dados xxxxxxx:</p>
        <p>objeto: <%= dados %></p>
        <p>tamanho: <%= dados.lenght %></p>
        <% for (let i=0; i<2; i++) { %>
            <%= i %>
            <%= dados.lenght %>
          <% } %>        
    </div>
 </div>
 